#Container{style: 'width:80%;text-align:center;margin-left:auto;margin-right:auto;'}
	= image_tag(@user.avatar.url(:large),class: 'img-responsive img-circle',style: 'text-align:center;margin-left:auto;margin-right:auto;display:block;')
	%h4
		Hi #{@user.username.capitalize} !!

	%h4{style: 'text-align:left;margin-top:5rem;'} Keep Me Updated About