.row
  .col-md-5.col-md-offset-1{style: 'border-right:2px solid #e9e9e9;min-height:100vh;'}
    %h3 Edit Post
    %hr{width: '30%',style: 'float:left;margin-top: -5px;'}
    = render partial: 'form'
  .col-md-5
    %h3 Instructions
