.row
  .col-md-5.col-md-offset-1{style: 'border-right:2px solid #e9e9e9;min-height:100vh;'}
    %h3 Create Post
    %hr{style: 'margin-top: -5px;'}
    = render partial: 'form'
    %br
    %img#blah.img-responsive{src: '#',style: 'margin: 3rem 0;display: none;'}
  .col-md-5
    %h3 Instructions
